@model SchedulingPlugIn.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@*login*@
<div class="forgot">
    <div>
        <img style="width: 250px;" src="~/Content/Images/Logo_MGI.png" />
        <h2 style="text-align: center;">@ViewBag.Title</h2>
    </div>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        <hr />
        <div class="text-form">
            <div class="form-group">
                @*@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })*@
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-12 button-login">
                @*<input type="submit" class="btn btn-default" value="SEND" />*@
                <button type="submit" class="btn btn-default">SEND</button>
            </div>
        </div>
        @Html.ActionLink("Return to Login", "Login", "Account", new { @class = "" })
    }
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
